@tailwind base;
@tailwind components;
@tailwind utilities;

.organization-chart svg {
  background-color: #f9fafb;
}
.link {
  stroke: #ccc;
  stroke-width: 1.5px;
}
select {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
}
